---
---

@import "{{ site.theme }}";
header p, header h1 {
	text-align:center;
}
.pagetitle {
	color: #888;
	border-bottom: 1px solid #888;
}
body {
	padding: 30px;
}
.wrapper {
	width: auto;
}
header img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
header ul {
	height: unset;
	padding: unset;
	background: unset;
	border: none;
	border-top: 1px solid #aaa;
	border-radius: 0;
	width: unset;
	max-width: 180px;
	margin: 0 auto;
	padding: 10px;
}
header li {
	width: unset;
	float: none;
	border: none;
	height: unset;
}
header ul li + li + li {
	width: unset;
	border-right: unset;
}
header ul a {
	font-size: unset;
	display: unset;
	padding: unset;
	color: #267CB9;
}
section {
	width: auto;
	margin-left: 300px;
	max-width: 700px;
	float: none;
}
@media print, screen and (max-width: 960px) {
  	section {
  		margin:0;
  	}
  	header {
  		padding:0;
  	}
  	header ul {
    position:unset;
    right:unset;
    top:unset;
  }
}