<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
    <meta charset='utf-8'>		
     <meta http-equiv="X-UA-Compatible" content="chrome=1">		
     <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>		
     <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">		
     <link rel="stylesheet" type="text/css" href="stylesheets/github-dark.css" media="screen">		
     <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">
		</head>
		<body>
			<div id="container">
<div class="inner">

	<header>
		<a href="/">^lijon.github.io</a>		
           <h1>{{ page.title }}</h1>
           <p>Jonatan Liljedahl {{ site.time | date_to_string }}	        	<div class="share-page">
    Share this page on
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">Twitter</a>,
    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">Facebook</a>,
    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+">Google+</a>
</div>
         </header>

<!--	<section id="downloads" class="clearfix">		
           <a href="https://github.com/lijon" id="view-on-github" class="button"><span>View on GitHub</span></a>		
         </section>		-->
 		
         <hr>		
 		
         <section id="main_content">
			
			{{ content }}
			
	</section>
			<footer>
	    		email: info AT kymatica DOT com
	    		<br>
	        	website: <a href="http://kymatica.com">kymatica.com</a>
	        	<br>
	        	twitter: <a href="http://twitter.com/j_liljedahl">j_liljedahl</a>
			</footer>
</div>
</div>	
	</body>
	</html>
