<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
    <meta charset='utf-8'>		
     <meta http-equiv="X-UA-Compatible" content="chrome=1">		
     <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>		
     <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">		
     <link rel="stylesheet" type="text/css" href="stylesheets/github-dark.css" media="screen">		
     <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">
		</head>
		<body>
			<div id="container">
<div class="inner">
			
			{{ content }}
			
			<footer>
	    		<ul>
	        		<li><a href="mailto:info@kymatica.com">email</a></li>
	        		<li><a href="http://kymatica.com">kymatica.com</a></li>
				</ul>
			</footer>
</div>
</div>	
	</body>
	</html>
